{
.appVersion = "3436";
.formatVersion = 3;
axes = (
{
name = Mashq;
tag = MSHQ;
}
);
customParameters = (
{
name = "Virtual Master";
value = (
{
Axis = Mashq;
Location = 100;
}
);
},
{
name = "Axis Mappings";
value = {
MSHQ = {
0 = 0;
100 = 100;
};
};
},
{
name = unicodeRanges;
value = (
13
);
},
{
name = codePageRanges;
value = (
"1256",
"864"
);
},
{
name = fsType;
value = (
);
},
{
name = "Don't use Production Names";
value = 1;
},
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
},
{
name = "Use Line Breaks";
value = 1;
}
);
date = "2021-04-25 20:10:22 +0000";
familyName = Qashib;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem arab dflt;
languagesystem arab URD;
languagesystem arab KSH;
languagesystem arab RHG;
languagesystem arab SND;
";
name = Languagesystems;
},
{
code = "lookup ccmp_1 {
	sub alefHamzaabove-ar by alef-ar hamzaabove-ar;
	sub alefHamzabelow-ar by alef-ar hamzabelow-ar;
	sub alefMadda-ar by alef-ar madda-ar;
	sub alefWasla-ar by alef-ar; # wasla-ar
	sub beh-ar by behDotless-ar dotbelow-ar;
	sub teh-ar by behDotless-ar twodotsabove-ar;
	sub theh-ar by behDotless-ar threedotsabove-ar;
	sub peh-ar by behDotless-ar threedotsbelow-ar;
	sub jeem-ar by hah-ar dotbelow-ar;
	sub tcheh-ar by hah-ar threedotsbelow-ar;
	sub khah-ar by hah-ar dotabove-ar;
	sub thal-ar by dal-ar dotabove-ar;
	sub zain-ar by reh-ar dotabove-ar;
	sub jeh-ar by reh-ar threedotsabove-ar;
	sub sheen-ar by seen-ar threedotsabove-ar;
	sub dad-ar by sad-ar dotabove-ar;
	sub zah-ar by tah-ar dotabove-ar;
	sub ghain-ar by ain-ar dotabove-ar;
	sub feh-ar by fehDotless-ar dotabove-ar;
	sub veh-ar by fehDotless-ar threedotsabove-ar;
	sub keheh-ar by kaf-ar;
	sub gaf-ar by kaf-ar gafsarkashabove-ar;
	sub qaf-ar by qafDotless-ar twodotsabove-ar;
	sub tehMarbuta-ar by heh-ar twodotsabove-ar;
	sub wawHamzaabove-ar by waw-ar hamzaabove-ar;
	sub yeh-ar by alefMaksura-ar twodotsbelow-ar;
	sub yehHamzaabove-ar by alefMaksura-ar hamzaabove-ar;
} ccmp_1;
";
name = ccmp;
},
{
code = "lookup isol {
	sub fehAfrican-ar by fehDotless-ar;
	sub qafAfrican-ar by qafDotless-ar;
	sub noon-ar by noonghunna-ar dotcenter-ar;
	sub noonAfrican-ar by noonghunna-ar;
	sub yehFarsi-ar by alefMaksura-ar;
} isol;

lookup init {
	sub behDotless-ar by behDotless-ar.init;
	sub hah-ar by hah-ar.init;
	sub seen-ar by seen-ar.init;
	sub sad-ar by sad-ar.init;
	sub tah-ar by tah-ar.init;
	sub ain-ar by ain-ar.init;
	sub fehDotless-ar by fehDotless-ar.init;
	sub fehAfrican-ar by fehDotless-ar.init dotbelow-ar;
	sub qafDotless-ar by fehDotless-ar.init;
	sub qafAfrican-ar by fehDotless-ar.init dotabove-ar;
	sub kaf-ar by kaf-ar.init;
	sub lam-ar by lam-ar.init;
	sub meem-ar by meem-ar.init;
	sub noonghunna-ar by behDotless-ar.init;
	sub noon-ar by behDotless-ar.init dotabove-ar;
	sub noonAfrican-ar by behDotless-ar.init dotabove-ar;
	sub heh-ar by heh-ar.init;
	sub alefMaksura-ar by behDotless-ar.init;
	sub yehFarsi-ar by behDotless-ar.init twodotsbelow-ar;
} init;

lookup medi {
	sub behDotless-ar by behDotless-ar.medi;
	sub hah-ar by hah-ar.medi;
	sub seen-ar by seen-ar.medi;
	sub sad-ar by sad-ar.medi;
	sub tah-ar by tah-ar.medi;
	sub ain-ar by ain-ar.medi;
	sub fehDotless-ar by fehDotless-ar.medi;
	sub fehAfrican-ar by fehDotless-ar.medi dotbelow-ar;
	sub qafDotless-ar by fehDotless-ar.medi;
	sub qafAfrican-ar by fehDotless-ar.medi dotabove-ar;
	sub kaf-ar by kaf-ar.medi;
	sub lam-ar by lam-ar.medi;
	sub meem-ar by meem-ar.medi;
	sub noonghunna-ar by behDotless-ar.medi;
	sub noon-ar by behDotless-ar.medi dotabove-ar;
	sub noonAfrican-ar by behDotless-ar.medi dotabove-ar;
	sub heh-ar by heh-ar.medi;
	sub alefMaksura-ar by behDotless-ar.medi;
	sub yehFarsi-ar by behDotless-ar.medi twodotsbelow-ar;
} medi;

lookup fina {
	sub alef-ar by alef-ar.fina;
	sub behDotless-ar by behDotless-ar.fina;
	sub hah-ar by hah-ar.fina;
	sub dal-ar by dal-ar.fina;
	sub reh-ar by reh-ar.fina;
	sub seen-ar by seen-ar.fina;
	sub sad-ar by sad-ar.fina;
	sub tah-ar by tah-ar.fina;
	sub ain-ar by ain-ar.fina;
	sub fehDotless-ar by fehDotless-ar.fina;
	sub fehAfrican-ar by fehDotless-ar.fina;
	sub qafDotless-ar by qafDotless-ar.fina;
	sub qafAfrican-ar by qafDotless-ar.fina;
	sub kaf-ar by kaf-ar.fina;
	sub lam-ar by lam-ar.fina;
	sub meem-ar by meem-ar.fina;
	sub noon-ar by noonghunna-ar.fina dotcenter-ar;
	sub noonghunna-ar by noonghunna-ar.fina;
	sub noonAfrican-ar by noonghunna-ar.fina;
	sub heh-ar by heh-ar.fina;
	sub waw-ar by waw-ar.fina;
	sub alefMaksura-ar by alefMaksura-ar.fina;
	sub yehFarsi-ar by alefMaksura-ar.fina;
	sub yehbarree-ar by yehbarree-ar.fina;
} fina;
";
name = basic;
},
{
code = "@medi.l0 = [$[name LIKE \"*.medi\" && ! name ENDSWITH \".l1\" && ! name BEGINSWITH \"_\" && ! name MATCHES \"^(lam|tah|alefabove)-ar.*\"] kashida-ar];
@medi.l1 = [$[name LIKE \"*.medi.l1\"] kashida-ar.l1];
@medi.l2 = [$[name LIKE \"*.medi.l2\"] kashida-ar.l2];
@medi.l0.full = [@medi.l0 lam-ar.medi tah-ar.medi];
@medi.l1.full = [@medi.l1 lam-ar.medi.hah1 tah-ar.medi.hah1];
@medi.l2.full = [@medi.l2 lam-ar.medi.hah2 tah-ar.medi.hah2];

# First substitute all glyphs before hah with an alternate ones
lookup rlig_hah_medi_l1 {
	lookupflag IgnoreMarks;

	rsub [@medi.l0.full lam-ar.init tah-ar.init]'
		 [hah-ar.medi hah-ar.fina @medi.l1.full]
	by	 [@medi.l1.full lam-ar.init.hah1 tah-ar.init.hah1]
	;
} rlig_hah_medi_l1;

# Then substitute all glyphs before another hah with an alternate ones
lookup rlig_hah_medi_l2 {
	lookupflag IgnoreMarks;

	rsub [@medi.l1.full lam-ar.init.hah1 tah-ar.init.hah1]'
		 [hah-ar.medi.l1 @medi.l2.full]
	by	 [@medi.l2.full lam-ar.init.hah2 tah-ar.init.hah2]
	;
} rlig_hah_medi_l2;

# Some of the alternates are superflous but we needed them as context, not any more.
# Replace them back with the original glyphs.
lookup rlig_hah_cleanup {
	sub @medi.l1 by @medi.l0;
	sub @medi.l2 by @medi.l0;
} rlig_hah_cleanup;
";
name = hah;
},
{
code = "lookup rlig_ligatures_1 {
	lookupflag IgnoreMarks;

	sub lam-ar.init alef-ar.fina			by lam_alef-ar;
	sub lam-ar.medi alef-ar.fina			by lam_alef-ar.fina;
} rlig_ligatures_1;
";
name = ligatures;
},
{
code = "lookup high_beh {
	sub behDotless-ar.init	by behDotless-ar.init.high;
	sub behDotless-ar.medi	by behDotless-ar.medi.high;
} high_beh;

lookup rlig_teeth_2 {
	lookupflag IgnoreMarks;

	rsub [behDotless-ar.init behDotless-ar.medi]'
		 [behDotless-ar.medi behDotless-ar.fina]
	by	 [behDotless-ar.init.high behDotless-ar.medi.high]
	;
} rlig_teeth_2;

lookup rlig_teeth_3 {
	lookupflag IgnoreMarks;

	ignore
	sub [behDotless-ar.init.high behDotless-ar.medi.high]
		[behDotless-ar.init behDotless-ar.medi]'
		[ain-ar.medi.hist ain-ar.fina.hist
		 fehDotless-ar.medi fehDotless-ar.fina
		 heh-ar.medi heh-ar.fina]
	;
	sub	[behDotless-ar.init behDotless-ar.medi]' lookup high_beh
		[ain-ar.medi.hist ain-ar.fina.hist
		 seen-ar.medi seen-ar.fina]
	;
} rlig_teeth_3;
";
name = teeth;
},
{
code = "@dots = [$[name LIKE \"*dot*\" && category == \"Mark\"]];
lookup ss01_dots {
	sub @dots by NULL;
} ss01_dots;

lookup salt_1 {
	sub hah-ar				from [hah-ar.salt1 hah-ar.salt2];
	sub hah-ar.fina			from [hah-ar.fina.salt1 hah-ar.fina.salt2];
	sub ain-ar				from [ain-ar.salt1 ain-ar.salt2];
	sub ain-ar.fina			from [ain-ar.fina.salt1 ain-ar.fina.salt2];
	sub alefMaksura-ar		from [alefMaksura-ar.salt yehbarree-ar];
	sub alefMaksura-ar.fina	from [alefMaksura-ar.fina.salt yehbarree-ar.fina];
} salt_1;

lookup yehbarree_baseline {
	sub yehbarree-ar.fina	by yehbarree-ar.fina.baseline;
	sub lam-ar.init			by lam-ar.init.hah1;
	sub tah-ar.init			by tah-ar.init.hah1;
} yehbarree_baseline;

lookup rclt_yehbarree_baseline {
	lookupflag IgnoreMarks;

	sub [$[name LIKE \"*.init*\" && ! name BEGINSWITH \"_\"]]' lookup yehbarree_baseline
		 yehbarree-ar.fina' lookup yehbarree_baseline
	;
} rclt_yehbarree_baseline;

lookup rclt_feh_yeh {
	lookupflag IgnoreMarks;

	sub	 fehDotless-ar.init'
		[alefMaksura-ar.fina alefMaksura-ar.fina.salt yehbarree-ar.fina.baseline]
	by	 fehDotless-ar.init.short
	;
} rclt_feh_yeh;

lookup short_lam {
	sub lam-ar				by lam-ar.short;
	sub lam-ar.init			by lam-ar.init.short;
	sub lam-ar.medi			by lam-ar.medi.short;
	sub lam-ar.fina			by lam-ar.fina.short;
	sub alef-ar.fina		by alef-ar.fina.short;
} short_lam;

lookup rlig_short_lam {
	lookupflag IgnoreMarks;

	ignore
	sub [alef-ar alef-ar.fina lam-ar.init lam-ar.medi tah-ar.init tah-ar.medi]
		[lam-ar lam-ar.init lam-ar.medi lam-ar.fina alef-ar.fina]'
		[lam-ar.medi lam-ar.fina]
	;

	sub [alef-ar alef-ar.fina lam-ar.init lam-ar.medi tah-ar.init tah-ar.medi]
		[lam-ar lam-ar.init lam-ar.medi lam-ar.fina alef-ar.fina]' lookup short_lam
	;
} rlig_short_lam;

lookup hist_1 {
	sub hah-ar				by hah-ar.hist;
	sub hah-ar.fina			by hah-ar.fina.hist;
	sub reh-ar				by reh-ar.hist;
	sub reh-ar.fina			by reh-ar.fina.hist;
	sub ain-ar				by ain-ar.hist;
	sub ain-ar.fina			by ain-ar.fina.hist;
	sub ain-ar.medi			by ain-ar.medi.hist;
	sub ain-ar.init			by ain-ar.init.hist;
	sub qafDotless-ar		by qafDotless-ar.hist;
	sub qafDotless-ar.fina	by qafDotless-ar.fina.hist;
	sub kaf-ar				by kaf-ar.hist;
	sub kaf-ar.fina			by kaf-ar.fina.hist;
	sub kaf-ar.medi			by kaf-ar.medi.hist;
	sub kaf-ar.init			by kaf-ar.init.hist;
	sub noonghunna-ar		by noonghunna-ar.hist;
	sub noonghunna-ar.fina	by noonghunna-ar.fina.hist;
	sub dotabove-ar			by dotabove-ar.hist;
	sub dotcenter-ar		by dotabove-ar.hist;
	sub dotbelow-ar			by dotbelow-ar.hist;
	sub twodotsabove-ar		by twodotsabove-ar.hist;
	sub twodotsbelow-ar		by twodotsbelow-ar.hist;
	sub threedotsabove-ar	by threedotsabove-ar.hist;
	sub threedotsbelow-ar	by threedotsbelow-ar.hist;
} hist_1;

@aftermeem = [meem-ar.medi meem-ar.fina waw-ar.fina reh-ar.fina.hist noonghunna-ar.fina noonghunna-ar.fina.hist];
lookup rounded {
	sub meem-ar.init		by meem-ar.init.round;
	sub meem-ar.medi		by meem-ar.medi.round;
	sub meem-ar.fina		by meem-ar.fina.round;
	sub noonghunna-ar.fina	by noonghunna-ar.fina.round;
	sub heh-ar.init			by heh-ar.init.round;
	sub heh-ar.medi			by heh-ar.medi.round;
	sub waw-ar.fina			by waw-ar.fina.round;
} rounded;

lookup rclt_rounded {
	lookupflag IgnoreMarks;

	sub [meem-ar.init heh-ar.init heh-ar.medi]' lookup rounded
		 noonghunna-ar.fina' lookup rounded
	;
} rclt_rounded;

lookup hist_2 {
	lookupflag IgnoreMarks;

	sub [meem-ar.init heh-ar.init heh-ar.medi]' lookup rounded
		 @aftermeem' lookup rounded
	;
} hist_2;
";
name = misc;
},
{
code = "lookup rclt_hist_sheen_dots {
	lookupflag UseMarkFilteringSet [threedotsabove-ar.hist];

	sub [seen-ar.init]
		[threedotsabove-ar.hist]'
	by	[threedotshorizontalabove-ar.hist]
	;

	sub [seen-ar.medi]
		[threedotsabove-ar.hist]'
	by	[threedotshorizontalabove-ar.hist.mid]
	;

	sub [seen-ar seen-ar.fina]
		[threedotsabove-ar.hist]'
	by	[threedotshorizontalabove-ar.hist.fin]
	;
} rclt_hist_sheen_dots;

@beh_dots = [dotabove-ar.hist twodotsabove-ar.hist threedotsabove-ar.hist
			 twodotsbelow-ar.hist threedotsbelow-ar.hist];
lookup rclt_hist_beh_dots {
	lookupflag UseMarkFilteringSet @beh_dots;

	sub [behDotless-ar alefMaksura-ar alefMaksura-ar.fina
		 alefMaksura-ar.salt alefMaksura-ar.fina.salt]
		 @beh_dots'
	by	[dotabove-ar.hist.beh twodotsabove-ar.hist.beh threedotsabove-ar.hist.beh
		 twodotsbelow-ar.hist.beh threedotsbelow-ar.hist.beh]
	;

	sub	[reh-ar.hist reh-ar.fina.hist]
		 dotabove-ar.hist'
	by	 dotabove-ar.hist.reh
	;


	sub	[noonghunna-ar.hist noonghunna-ar.fina.hist]
		 dotabove-ar.hist'
	by	 dotabove-ar.hist.noon
	;
} rclt_hist_beh_dots;

@vert_dots = [twodotsabove-ar threedotsabove-ar twodotsbelow-ar threedotsbelow-ar];
@vert_dots.vert = [twodotsabove-ar.vert threedotsabove-ar.vert twodotsbelow-ar.vert threedotsbelow-ar.vert];

lookup vert_dots {
	sub @vert_dots by @vert_dots.vert;
} vert_dots;

lookup rclt_vert_dots {
	lookupflag UseMarkFilteringSet @vert_dots;

	sub	[behDotless-ar.init behDotless-ar.init.high behDotless-ar.medi behDotless-ar.medi.high]
		[twodotsabove-ar threedotsabove-ar]' lookup vert_dots
		[alef-ar.fina behDotless-ar.medi behDotless-ar.medi.high
		 lam-ar.medi lam-ar.medi.short lam-ar.medi.hah1 lam-ar.medi.hah2 lam-ar.fina
		 heh-ar.medi heh-ar.medi.round heh-ar.fina]
	;

	sub	[alef-ar alef-ar.fina alef-ar.fina.short]
		[behDotless-ar.init behDotless-ar.init.high]
		[twodotsabove-ar threedotsabove-ar]' lookup vert_dots
	;

	sub	[behDotless-ar.init behDotless-ar.init.high behDotless-ar.medi behDotless-ar.medi.high]
		[twodotsbelow-ar threedotsbelow-ar]' lookup vert_dots
		[behDotless-ar.medi behDotless-ar.medi.high
		 reh-ar.fina lam-ar.fina noonghunna-ar.fina alefMaksura-ar.fina alefMaksura-ar.fina.salt]
	;

	sub	[behDotless-ar.init behDotless-ar.init.high behDotless-ar.medi behDotless-ar.medi.high
		 tah-ar.init tah-ar.init.hah1 tah-ar.init.hah2 tah-ar.medi tah-ar.medi.hah1 tah-ar.medi.hah2
		 lam-ar.init lam-ar.init.short lam-ar.init.hah1 lam-ar.init.hah2 lam-ar.medi lam-ar.medi.hah1 lam-ar.medi.hah2]
		[behDotless-ar.medi behDotless-ar.medi.high]
		@vert_dots' lookup vert_dots
	;

} rclt_vert_dots;
";
name = dots;
}
);
features = (
{
code = "lookup ccmp_1;
";
tag = ccmp;
},
{
code = "script arab;
  language URD;
	sub fourFarsi-ar	by fourFarsi-ar.locl;
	sub sixFarsi-ar		by six-ar;
	sub sevenFarsi-ar	by sevenFarsi-ar.locl;
#	sub dammainverted-ar by dammainverted-ar.locl;

  language KSH;
	sub fourFarsi-ar	by fourFarsi-ar.locl;
	sub sixFarsi-ar		by six-ar;
	sub sevenFarsi-ar	by sevenFarsi-ar.locl;

  language RHG;
	sub fourFarsi-ar	by four-ar;
	sub sixFarsi-ar		by six-ar;
	sub sevenFarsi-ar	by sevenFarsi-ar.locl;

  language SND;
	sub sixFarsi-ar		by six-ar;
	sub sevenFarsi-ar	by sevenFarsi-ar.locl;
";
tag = locl;
},
{
code = "lookup isol;";
tag = isol;
},
{
code = "lookup init;";
tag = init;
},
{
code = "lookup medi;";
tag = medi;
},
{
code = "lookup fina;";
tag = fina;
},
{
code = "lookup rlig_hah_medi_l1;
lookup rlig_hah_medi_l2;
lookup rlig_hah_cleanup;
lookup rlig_teeth_2;
lookup rlig_teeth_3;
lookup rlig_ligatures_1;
lookup rlig_short_lam;
";
tag = rlig;
},
{
code = "lookup rclt_yehbarree_baseline;
lookup rclt_hist_sheen_dots;
lookup rclt_hist_beh_dots;
lookup rclt_vert_dots;
lookup rclt_rounded;
lookup rclt_feh_yeh;
";
tag = rclt;
},
{
code = "lookup salt_1;
";
tag = salt;
},
{
code = "lookup hist_1;
lookup hist_2;
";
tag = hist;
},
{
code = "lookup ss01_dots;
";
labels = (
{
language = ENG;
value = "Dot-less Letter Forms";
},
{
language = ARA;
value = "حروف مهملة (بلا نقاط)";
}
);
tag = ss01;
},
{
code = "lookup hist_1;
";
labels = (
{
language = ENG;
value = "Historical letter forms";
},
{
language = ARA;
value = "أشكال حروف تراثية";
}
);
tag = ss02;
},
{
code = "# Automatic Code
";
tag = curs;
},
{
code = "# Automatic Code

@beh.init	= [$[name MATCHES \"(behDotless|lam)-ar.init.*\"]];
@beh.medi	= [$[name MATCHES \"(behDotless|lam)-ar.medi.*\"]];
@sad.init	= [$[name MATCHES \"(sad|tah|kaf)-ar.init.*\"]];
@sad.medi	= [$[name MATCHES \"(sad|tah|kaf)-ar.medi.*\"]];
@hah.init	= [$[name MATCHES \"hah-ar.init.*\"]];
@hah.medi	= [$[name MATCHES \"hah-ar.medi.*\"]];
@seen.medi	= [$[name MATCHES \"seen-ar.medi.*\"]];
@yeh.fina	= [alefMaksura-ar.fina alefMaksura-ar.fina.salt];
@hah.fina	= [hah-ar.fina];

include(Qashib-overhang.fea)
";
tag = kern;
},
{
code = "# Automatic Code

@dotsbelow = [$[name LIKE '*dot*below-ar'] $[name LIKE '*dot*below-ar.vert']];
@beh_width = [behDotless-ar.medi behDotless-ar.medi.high
			  lam-ar.medi lam-ar.medi.short lam-ar.medi.hah1 lam-ar.medi.hah2];
@overhanging_hah = [hah-ar.fina hah-ar.fina.hist hah-ar.medi];
lookup shift_dots {
	lookupflag UseMarkFilteringSet @dotsbelow;
	pos	 hah-ar.init
		 @dotsbelow' <250 0 0 0>
		 @beh_width
		 @overhanging_hah
	;
	pos	 hah-ar.medi
		 @dotsbelow' <390 0 0 0>
		 @beh_width
		 @overhanging_hah
	;

	pos	 hah-ar.init
		 @dotsbelow' <250 0 0 0>
		 @overhanging_hah
	;
	pos	 hah-ar.medi
		 @dotsbelow' <390 0 0 0>
		 @overhanging_hah
	;

	pos	 behDotless-ar.init
		 @dotsbelow' <250 -90 0 0>
		 @overhanging_hah
	;

	pos	[behDotless-ar.medi behDotless-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @overhanging_hah
	;

	pos	[behDotless-ar.init behDotless-ar.init.high behDotless-ar.medi behDotless-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @beh_width
		 @overhanging_hah
	;
	pos	[behDotless-ar.init behDotless-ar.init.high behDotless-ar.medi behDotless-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @beh_width
		 @dotsbelow
		 @overhanging_hah
	;
} shift_dots;
";
tag = mark;
}
);
fontMaster = (
{
axesValues = (
10
);
customParameters = (
{
name = typoAscender;
value = 800;
},
{
name = typoDescender;
value = -450;
},
{
name = hheaAscender;
value = 800;
},
{
name = hheaDescender;
value = -450;
},
{
name = winAscent;
value = 900;
},
{
name = winDescent;
value = 500;
},
{
name = underlinePosition;
value = -165;
},
{
name = underlineThickness;
value = 50;
},
{
name = strikeoutSize;
value = 50;
}
);
guides = (
{
locked = 1;
pos = (0,920);
},
{
locked = 1;
pos = (0,805);
},
{
locked = 1;
pos = (0,690);
},
{
locked = 1;
pos = (0,575);
},
{
locked = 1;
pos = (0,460);
},
{
locked = 1;
pos = (0,345);
},
{
lockAngle = 1;
locked = 1;
pos = (0,230);
},
{
locked = 1;
name = "-1";
pos = (0,-115);
},
{
locked = 1;
name = "-2";
pos = (0,-230);
},
{
locked = 1;
},
{
locked = 1;
name = "-3";
pos = (0,-345);
},
{
locked = 1;
name = beh;
pos = (0,285);
},
{
locked = 1;
pos = (0,115);
},
{
locked = 1;
name = "700";
pos = (501,770);
},
{
pos = (190,260);
}
);
id = m01;
metricValues = (
{
over = -10;
pos = 800;
},
{
over = -10;
pos = 770;
},
{
over = -10;
pos = 345;
},
{
over = -10;
},
{
over = -10;
pos = -450;
}
);
name = Regular;
userData = {
GSCornerRadius = -10;
GSOffsetCapStyle = 2;
GSOffsetHorizontal = 4;
GSOffsetKeepCompatible = 1;
GSOffsetPosition = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
visible = 1;
}
);
instances = (
{
axesValues = (
10
);
name = Regular;
properties = (
{
key = variablePostscriptFontName;
value = Qashib;
}
);
}
);
kerningLTR = {
m01 = {
"@MMK_L_eight-ar" = {
"@MMK_R_one-ar" = -48;
"@MMK_R_zero-ar" = -60;
};
"@MMK_L_seven-ar" = {
"@MMK_R_eight-ar" = -48;
};
"@MMK_L_two-ar" = {
"@MMK_R_zero-ar" = -60;
};
"@MMK_L_zero-ar" = {
"@MMK_R_one-ar" = -36;
"@MMK_R_six-ar" = -108;
};
"four-ar" = {
"@MMK_R_one-ar" = -60;
"@MMK_R_six-ar" = -96;
"@MMK_R_zero-ar" = -60;
};
};
};
kerningRTL = {
m01 = {
"@MMK_R_beh" = {
"@MMK_L_hah" = -30;
"@MMK_L_yeh" = 40;
"alef-ar" = -130;
"hah-ar.fina" = -30;
parenleft = -60;
};
"@MMK_R_hah" = {
"@MMK_L_ain" = -30;
"@MMK_L_hah" = -40;
"alef-ar" = -20;
"lam_alef-ar.fina" = -40;
"reh-ar.fina" = -10;
};
"@MMK_R_hah.hist" = {
"alef-ar" = -50;
};
"@MMK_R_kaf" = {
"lam_alef-ar.fina" = -20;
};
"@MMK_R_lam-alef" = {
"@MMK_L_lam" = 55;
"alef-ar" = -100;
};
"@MMK_R_lam.fina" = {
"alef-ar" = -160;
};
"@MMK_R_noon" = {
"alef-ar" = -210;
period = 70;
};
"@MMK_R_noon.hist" = {
"alef-ar" = -50;
};
"@MMK_R_qaf" = {
"alef-ar" = -80;
};
"@MMK_R_reh" = {
"alef-ar" = -70;
};
"@MMK_R_reh.hist" = {
"alef-ar" = -160;
};
"@MMK_R_sad" = {
"@MMK_L_hah" = -10;
};
"@MMK_R_seen" = {
"@MMK_L_hah" = -5;
};
"@MMK_R_waw" = {
"alef-ar" = -80;
};
"@MMK_R_yeh" = {
"alef-ar" = -30;
};
"ain-ar.init" = {
"@MMK_L_ain" = 0;
};
"ain-ar.init.hist" = {
"@MMK_L_ain" = -20;
};
"ain-ar.medi" = {
"@MMK_L_hah" = -60;
};
"ain-ar.medi.hist" = {
"@MMK_L_hah" = -60;
};
"ain-ar.medi.hist.alt" = {
"@MMK_L_dal" = -53;
};
"ain-ar.medi.salt" = {
"@MMK_L_hah" = -45;
};
"behDotless-ar.medi" = {
"@MMK_L_hah" = -5;
"hah-ar.fina" = -5;
};
braceright = {
"alef-ar" = -50;
};
bracketright = {
"alef-ar" = -120;
};
"fehDotless-ar.init" = {
"@MMK_L_hah" = -60;
"lam_alef-ar.fina" = -50;
"meem-ar.medi" = -20;
};
"fehDotless-ar.medi" = {
"@MMK_L_hah" = -25;
"lam_alef-ar.fina" = -30;
"meem-ar.medi" = -12;
};
"heh-ar.init.round" = {
"@MMK_L_dal" = -10;
"noonghunna-ar.fina.hist" = -20;
"noonghunna-ar.fina.round" = -20;
};
"heh-ar.medi.round" = {
"@MMK_L_dal" = -10;
"noonghunna-ar.fina.hist" = -20;
"noonghunna-ar.fina.round" = -20;
};
"noonghunna-ar.fina" = {
period = 88;
};
parenright = {
"alef-ar" = -100;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = copyrights;
values = (
{
language = ENG;
value = "Copyright 2025 The Qashib Project Authors (github.com/aliftype/qashib)";
},
{
language = ARA;
value = "حقوق النسخ ٢٠٢٥ لمؤلفي مشروع قشيب (github.com/aliftype/qashib)";
}
);
},
{
key = descriptions;
values = (
{
language = ENG;
value = "Qashib (قشيب) is a manuscript Kufic typeface";
},
{
language = ARA;
value = "قشيب هو خط كوفي مصحفي";
}
);
},
{
key = designers;
values = (
{
language = ENG;
value = "Khaled Hosny";
},
{
language = ARA;
value = "خالد حسني";
}
);
},
{
key = designerURL;
value = "https://khaledhosny.com";
},
{
key = licenses;
values = (
{
language = ENG;
value = "This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>";
}
);
},
{
key = licenseURL;
value = "https://www.gnu.org/licenses/agpl-3.0.html";
},
{
key = manufacturers;
values = (
{
language = ENG;
value = "Alif Type";
},
{
language = ARA;
value = "حروف ألف";
}
);
},
{
key = manufacturerURL;
value = "https://aliftype.com";
},
{
key = sampleTexts;
values = (
{
language = ENG;
value = "بِسْمِ اللَّه الرَّحْمَنِ الرَّحِيمِ";
}
);
},
{
key = vendorID;
value = ALIF;
}
);
settings = {
fontType = variable;
keepAlternatesTogether = 1;
previewRemoveOverlap = 0;
};
unitsPerEm = 600;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
arAlef = "80";
arBar = "70";
arRoundThin = "20";
};
};
};
versionMajor = 0;
versionMinor = 0;
}
