{
.appVersion = "3436";
.formatVersion = 3;
axes = (
{
name = Mashq;
tag = MSHQ;
}
);
customParameters = (
{
name = "Virtual Master";
value = (
{
Axis = Mashq;
Location = 0;
}
);
},
{
name = "Virtual Master";
value = (
{
Axis = Mashq;
Location = 100;
}
);
},
{
name = fsType;
value = (
);
},
{
name = "Don't use Production Names";
value = 1;
},
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
},
{
name = "Use Line Breaks";
value = 1;
}
);
date = "2021-04-25 20:10:22 +0000";
familyName = Qashib;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem arab dflt;
languagesystem arab URD;
languagesystem arab KSH;
languagesystem arab RHG;
languagesystem arab SND;
";
name = Languagesystems;
},
{
code = "lookup locl_1 {
	sub fourFarsi-ar	by fourFarsi-ar.locl;
	sub sixFarsi-ar		by six-ar;
	sub sevenFarsi-ar	by sevenFarsi-ar.locl;
} locl_1;

lookup locl_2 {
	sub fourFarsi-ar	by four-ar;
	sub sixFarsi-ar		by six-ar;
	sub sevenFarsi-ar	by sevenFarsi-ar.locl;
} locl_2;

lookup locl_3 {
	sub sixFarsi-ar		by six-ar;
	sub sevenFarsi-ar	by sevenFarsi-ar.locl;
} locl_3;
";
name = locl;
},
{
code = "lookup ccmp_1 {
	sub alef-ar by alef-ar.isol;
	sub alefHamzaabove-ar by alef-ar.isol hamzaabove-ar;
	sub alefHamzabelow-ar by alef-ar.isol hamzabelow-ar;
	sub alefMadda-ar by alef-ar.isol madda-ar;
	sub alefWasla-ar by alef-ar.isol; # wasla-ar
	sub behDotless-ar by beh-ar.isol;
	sub beh-ar by beh-ar.isol dotbelow-ar;
	sub teh-ar by beh-ar.isol twodotsabove-ar;
	sub theh-ar by beh-ar.isol threedotsabove-ar;
	sub peh-ar by beh-ar.isol threedotsbelow-ar;
	sub hah-ar by hah-ar.isol;
	sub jeem-ar by hah-ar.isol dotcenter-ar;
	sub tcheh-ar by hah-ar.isol threedotsbelow-ar;
	sub khah-ar by hah-ar.isol dotabove-ar;
	sub dal-ar by dal-ar.isol;
	sub thal-ar by dal-ar.isol dotabove-ar;
	sub reh-ar by reh-ar.isol;
	sub zain-ar by reh-ar.isol dotabove-ar;
	sub jeh-ar by reh-ar.isol threedotsabove-ar;
	sub seen-ar by seen-ar.isol;
	sub sheen-ar by seen-ar.isol threedotsabove-ar;
	sub sad-ar by sad-ar.isol;
	sub dad-ar by sad-ar.isol dotabove-ar;
	sub tah-ar by tah-ar.isol;
	sub zah-ar by tah-ar.isol dotabove-ar;
	sub ain-ar by ain-ar.isol;
	sub ghain-ar by ain-ar.isol dotabove-ar;
	sub fehDotless-ar by feh-ar.isol;
	sub feh-ar by feh-ar.isol dotabove-ar;
	sub veh-ar by feh-ar.isol threedotsabove-ar;
	sub keheh-ar by kaf-ar.isol;
	sub qafDotless-ar by qaf-ar.isol;
	sub qaf-ar by qaf-ar.isol twodotsabove-ar;
	sub gaf-ar by kaf-ar.isol gafsarkashabove-ar;
	sub kaf-ar by kaf-ar.isol;
	sub lam-ar by lam-ar.isol;
	sub meem-ar by meem-ar.isol;
	sub noonghunna-ar by noon-ar.isol;
	sub heh-ar by heh-ar.isol;
	sub tehMarbuta-ar by heh-ar.isol twodotsabove-ar;
	sub waw-ar by waw-ar.isol;
	sub wawHamzaabove-ar by waw-ar.isol hamzaabove-ar;
	sub alefMaksura-ar by yeh-ar.isol;
	sub yeh-ar by yeh-ar.isol twodotsbelow-ar;
	sub yehHamzaabove-ar by yeh-ar.isol hamzaabove-ar;
} ccmp_1;
";
name = ccmp;
},
{
code = "lookup isol {
	sub fehAfrican-ar by feh-ar.isol;
	sub qafAfrican-ar by qaf-ar.isol;
	sub noon-ar by noon-ar.isol dotcenter-ar;
	sub noonAfrican-ar by noon-ar.isol;
	sub yehFarsi-ar by yeh-ar.isol;
} isol;

lookup init {
	sub beh-ar.isol by beh-ar.init;
	sub hah-ar.isol by hah-ar.init;
	sub seen-ar.isol by seen-ar.init;
	sub sad-ar.isol by sad-ar.init;
	sub tah-ar.isol by tah-ar.init;
	sub ain-ar.isol by ain-ar.init;
	sub feh-ar.isol by feh-ar.init;
	sub fehAfrican-ar by feh-ar.init dotbelow-ar;
	sub qaf-ar.isol by feh-ar.init;
	sub qafAfrican-ar by feh-ar.init dotabove-ar;
	sub kaf-ar.isol by kaf-ar.init;
	sub lam-ar.isol by lam-ar.init;
	sub meem-ar.isol by meem-ar.init;
	sub noon-ar.isol by beh-ar.init;
	sub noon-ar by beh-ar.init dotabove-ar;
	sub noonAfrican-ar by beh-ar.init dotabove-ar;
	sub heh-ar.isol by heh-ar.init;
	sub yeh-ar.isol by beh-ar.init;
	sub yehFarsi-ar by beh-ar.init twodotsbelow-ar;
	sub dotcenter-ar by dotbelow-ar;
} init;

lookup medi {
	sub beh-ar.isol by beh-ar.medi;
	sub hah-ar.isol by hah-ar.medi;
	sub seen-ar.isol by seen-ar.medi;
	sub sad-ar.isol by sad-ar.medi;
	sub tah-ar.isol by tah-ar.medi;
	sub ain-ar.isol by ain-ar.medi;
	sub feh-ar.isol by feh-ar.medi;
	sub fehAfrican-ar by feh-ar.medi dotbelow-ar;
	sub qaf-ar.isol by feh-ar.medi;
	sub qafAfrican-ar by feh-ar.medi dotabove-ar;
	sub kaf-ar.isol by kaf-ar.medi;
	sub lam-ar.isol by lam-ar.medi;
	sub meem-ar.isol by meem-ar.medi;
	sub noon-ar.isol by beh-ar.medi;
	sub noon-ar by beh-ar.medi dotabove-ar;
	sub noonAfrican-ar by beh-ar.medi dotabove-ar;
	sub heh-ar.isol by heh-ar.medi;
	sub yeh-ar.isol by beh-ar.medi;
	sub yehFarsi-ar by beh-ar.medi twodotsbelow-ar;
	sub dotcenter-ar by dotbelow-ar;
} medi;

lookup fina {
	sub alef-ar.isol by alef-ar.fina;
	sub beh-ar.isol by beh-ar.fina;
	sub hah-ar.isol by hah-ar.fina;
	sub dal-ar.isol by dal-ar.fina;
	sub reh-ar.isol by reh-ar.fina;
	sub seen-ar.isol by seen-ar.fina;
	sub sad-ar.isol by sad-ar.fina;
	sub tah-ar.isol by tah-ar.fina;
	sub ain-ar.isol by ain-ar.fina;
	sub feh-ar.isol by feh-ar.fina;
	sub fehAfrican-ar by feh-ar.fina;
	sub qaf-ar.isol by qaf-ar.fina;
	sub qafAfrican-ar by qaf-ar.fina;
	sub kaf-ar.isol by kaf-ar.fina;
	sub lam-ar.isol by lam-ar.fina;
	sub meem-ar.isol by meem-ar.fina;
	sub noon-ar by noon-ar.fina dotcenter-ar;
	sub noon-ar.isol by noon-ar.fina;
	sub noonAfrican-ar by noon-ar.fina;
	sub heh-ar.isol by heh-ar.fina;
	sub waw-ar.isol by waw-ar.fina;
	sub yeh-ar.isol by yeh-ar.fina;
	sub yehFarsi-ar by yeh-ar.fina;
	sub yehbarree-ar by yehbarree-ar.fina;
} fina;
";
name = basic;
},
{
code = "@medi.l0 = [$[name ENDSWITH '.medi' && ! name MATCHES '^(lam|tah|alefabove)-ar.*'] kashida-ar];
@medi.l1 = [$[name ENDSWITH '.medi.l1'] kashida-ar.l1];
@medi.l2 = [$[name ENDSWITH '.medi.l2'] kashida-ar.l2];
@medi.l0.full = [@medi.l0 lam-ar.medi tah-ar.medi];
@medi.l1.full = [@medi.l1 lam-ar.medi.hah1 tah-ar.medi.hah1];
@medi.l2.full = [@medi.l2 lam-ar.medi.hah2 tah-ar.medi.hah2];

# First substitute all glyphs before hah with an alternate ones
lookup rlig_hah_medi_l1 {
	lookupflag IgnoreMarks;

	rsub [@medi.l0.full lam-ar.init tah-ar.init]'
		 [hah-ar.medi hah-ar.fina @medi.l1.full]
	by	 [@medi.l1.full lam-ar.init.hah1 tah-ar.init.hah1]
	;
} rlig_hah_medi_l1;

# Then substitute all glyphs before another hah with an alternate ones
lookup rlig_hah_medi_l2 {
	lookupflag IgnoreMarks;

	rsub [@medi.l1.full lam-ar.init.hah1 tah-ar.init.hah1]'
		 [hah-ar.medi.l1 @medi.l2.full]
	by	 [@medi.l2.full lam-ar.init.hah2 tah-ar.init.hah2]
	;
} rlig_hah_medi_l2;

# Some of the alternates are superflous but we needed them as context, not any more.
# Replace them back with the original glyphs.
lookup rlig_hah_cleanup {
	sub @medi.l1 by @medi.l0;
	sub @medi.l2 by @medi.l0;
} rlig_hah_cleanup;
";
name = hah;
},
{
code = "lookup rlig_ligatures_1 {
	lookupflag IgnoreMarks;

	sub lam-ar.init alef-ar.fina			by lam_alef-ar.isol;
	sub lam-ar.medi alef-ar.fina			by lam_alef-ar.fina;
} rlig_ligatures_1;
";
name = ligatures;
},
{
code = "lookup high_beh {
	sub beh-ar.init	by beh-ar.init.high;
	sub beh-ar.medi	by beh-ar.medi.high;
} high_beh;

lookup rlig_teeth_2 {
	lookupflag IgnoreMarks;

	rsub [beh-ar.init beh-ar.medi]'
		 [beh-ar.medi beh-ar.fina]
	by	 [beh-ar.init.high beh-ar.medi.high]
	;
} rlig_teeth_2;

lookup rlig_teeth_3 {
	lookupflag IgnoreMarks;

	ignore
	sub [beh-ar.init.high beh-ar.medi.high]
		[beh-ar.init beh-ar.medi]'
		[ain-ar.medi.hist ain-ar.fina.hist
		 feh-ar.medi feh-ar.fina
		 heh-ar.medi heh-ar.fina]
	;
	sub	[beh-ar.init beh-ar.medi]' lookup high_beh
		[ain-ar.medi.hist ain-ar.fina.hist
		 seen-ar.medi seen-ar.fina]
	;
} rlig_teeth_3;
";
name = teeth;
},
{
code = "@dots = [$[name LIKE '*dot*' && category == 'Mark']];
lookup ss01_dots {
	sub @dots by dummy.mark;
} ss01_dots;

lookup ss01_cleanup {
	sub dummy.mark by NULL;
} ss01_cleanup;

lookup salt_1 {
	sub hah-ar.isol			from [hah-ar.isol.salt1 hah-ar.isol.salt2];
	sub hah-ar.fina			from [hah-ar.fina.salt1 hah-ar.fina.salt2];
	sub ain-ar.isol			from [ain-ar.isol.salt1 ain-ar.isol.salt2];
	sub ain-ar.fina			from [ain-ar.fina.salt1 ain-ar.fina.salt2];
	sub yeh-ar.isol			from [yeh-ar.isol.salt yehbarree-ar];
	sub yeh-ar.fina			from [yeh-ar.fina.salt yehbarree-ar.fina];
} salt_1;

lookup yehbarree_baseline {
	sub yehbarree-ar.fina	by yehbarree-ar.fina.baseline;
	sub lam-ar.init			by lam-ar.init.hah1;
	sub tah-ar.init			by tah-ar.init.hah1;
} yehbarree_baseline;

lookup rclt_yehbarree_baseline {
	lookupflag IgnoreMarks;

	sub [$[name LIKE '*.init*' && ! name BEGINSWITH '_']]' lookup yehbarree_baseline
		 yehbarree-ar.fina' lookup yehbarree_baseline
	;
} rclt_yehbarree_baseline;

lookup rclt_feh_yeh {
	lookupflag IgnoreMarks;

	sub	 feh-ar.init'
		[yeh-ar.fina yeh-ar.fina.salt yehbarree-ar.fina.baseline]
	by	 feh-ar.init.short
	;
} rclt_feh_yeh;

lookup short_lam {
	sub lam-ar.isol			by lam-ar.isol.short;
	sub lam-ar.init			by lam-ar.init.short;
	sub lam-ar.medi			by lam-ar.medi.short;
	sub lam-ar.fina			by lam-ar.fina.short;
	sub alef-ar.fina		by alef-ar.fina.short;
} short_lam;

lookup rlig_short_lam {
	lookupflag IgnoreMarks;

	ignore
	sub [alef-ar.isol alef-ar.fina lam-ar.init lam-ar.medi tah-ar.init tah-ar.medi]
		[lam-ar.isol lam-ar.init lam-ar.medi lam-ar.fina alef-ar.fina]'
		[lam-ar.medi lam-ar.fina]
	;

	sub [alef-ar.isol alef-ar.fina lam-ar.init lam-ar.medi tah-ar.init tah-ar.medi]
		[lam-ar.isol lam-ar.init lam-ar.medi lam-ar.fina alef-ar.fina]' lookup short_lam
	;
} rlig_short_lam;

lookup hist_letters {
	sub hah-ar.isol			by hah-ar.isol.hist;
	sub hah-ar.fina			by hah-ar.fina.hist;
	sub reh-ar.isol			by reh-ar.isol.hist;
	sub reh-ar.fina			by reh-ar.fina.hist;
	sub ain-ar.isol			by ain-ar.isol.hist;
	sub ain-ar.fina			by ain-ar.fina.hist;
	sub ain-ar.medi			by ain-ar.medi.hist;
	sub ain-ar.init			by ain-ar.init.hist;
	sub qaf-ar.isol			by qaf-ar.isol.hist;
	sub qaf-ar.fina			by qaf-ar.fina.hist;
	sub kaf-ar.isol			by kaf-ar.isol.hist;
	sub kaf-ar.fina			by kaf-ar.fina.hist;
	sub kaf-ar.medi			by kaf-ar.medi.hist;
	sub kaf-ar.init			by kaf-ar.init.hist;
	sub noon-ar.isol		by noon-ar.isol.hist;
	sub noon-ar.fina		by noon-ar.fina.hist;
} hist_letters;

@aftermeem = [meem-ar.medi meem-ar.fina waw-ar.fina reh-ar.fina.hist noon-ar.fina noon-ar.fina.hist];
lookup rounded {
	sub meem-ar.init		by meem-ar.init.round;
	sub meem-ar.medi		by meem-ar.medi.round;
	sub meem-ar.fina		by meem-ar.fina.round;
	sub noon-ar.fina		by noon-ar.fina.round;
	sub heh-ar.init			by heh-ar.init.round;
	sub heh-ar.medi			by heh-ar.medi.round;
	sub waw-ar.fina			by waw-ar.fina.round;
} rounded;

lookup rclt_rounded {
	lookupflag IgnoreMarks;

	sub [meem-ar.init heh-ar.init heh-ar.medi]' lookup rounded
		 noon-ar.fina' lookup rounded
	;
} rclt_rounded;

lookup hist_kissing {
	lookupflag IgnoreMarks;

	sub [meem-ar.init heh-ar.init heh-ar.medi]' lookup rounded
		 @aftermeem' lookup rounded
	;
} hist_kissing;
";
name = misc;
},
{
code = "lookup rclt_hist_center_dot {
	lookupflag UseMarkFilteringSet [dotcenter-ar];
	sub [$[name LIKE 'noon*.hist']]
		 dotcenter-ar'
	by	 dotabove-ar
	;

	sub [$[name LIKE 'hah*.hist']]
		 dotcenter-ar'
	by	 dotbelow-ar
	;
} rclt_hist_center_dot;

lookup hist_dots {
	sub dotabove-ar			by dotabove-ar.hist;
	sub dotbelow-ar			by dotbelow-ar.hist;
	sub twodotsabove-ar		by twodotsabove-ar.hist;
	sub twodotsbelow-ar		by twodotsbelow-ar.hist;
	sub threedotsabove-ar	by threedotsabove-ar.hist;
	sub threedotsbelow-ar	by threedotsbelow-ar.hist;
} hist_dots;

lookup rclt_hist_sheen_dots {
	lookupflag UseMarkFilteringSet [threedotsabove-ar.hist];

	sub [seen-ar.init]
		[threedotsabove-ar.hist]'
	by	[threedotshorizontalabove-ar.hist]
	;

	sub [seen-ar.medi]
		[threedotsabove-ar.hist]'
	by	[threedotshorizontalabove-ar.hist.mid]
	;

	sub [seen-ar.isol seen-ar.fina]
		[threedotsabove-ar.hist]'
	by	[threedotshorizontalabove-ar.hist.fin]
	;
} rclt_hist_sheen_dots;

@beh_dots = [dotabove-ar.hist twodotsabove-ar.hist threedotsabove-ar.hist
			 twodotsbelow-ar.hist threedotsbelow-ar.hist];
lookup rclt_hist_beh_dots {
	lookupflag UseMarkFilteringSet @beh_dots;

	sub [beh-ar.isol yeh-ar.isol yeh-ar.fina
		 yeh-ar.isol.salt yeh-ar.fina.salt]
		 @beh_dots'
	by	[dotabove-ar.hist.beh twodotsabove-ar.hist.beh threedotsabove-ar.hist.beh
		 twodotsbelow-ar.hist.beh threedotsbelow-ar.hist.beh]
	;

	sub	[reh-ar.isol.hist reh-ar.fina.hist]
		 dotabove-ar.hist'
	by	 dotabove-ar.hist.reh
	;


	sub	[noon-ar.isol.hist noon-ar.fina.hist]
		 dotabove-ar.hist'
	by	 dotabove-ar.hist.noon
	;
} rclt_hist_beh_dots;

@vert_dots = [twodotsabove-ar threedotsabove-ar twodotsbelow-ar threedotsbelow-ar];
@vert_dots.vert = [twodotsabove-ar.vert threedotsabove-ar.vert twodotsbelow-ar.vert threedotsbelow-ar.vert];

lookup vert_dots {
	sub @vert_dots by @vert_dots.vert;
} vert_dots;

lookup rclt_vert_dots {
	lookupflag UseMarkFilteringSet @vert_dots;

	sub	[beh-ar.init beh-ar.init.high beh-ar.medi beh-ar.medi.high]
		[twodotsabove-ar threedotsabove-ar]' lookup vert_dots
		[alef-ar.fina beh-ar.medi beh-ar.medi.high
		 lam-ar.medi lam-ar.medi.short lam-ar.medi.hah1 lam-ar.medi.hah2 lam-ar.fina
		 heh-ar.medi heh-ar.medi.round heh-ar.fina]
	;

	sub	[alef-ar.isol alef-ar.fina alef-ar.fina.short]
		[beh-ar.init beh-ar.init.high]
		[twodotsabove-ar threedotsabove-ar]' lookup vert_dots
	;

	sub	[beh-ar.init beh-ar.init.high beh-ar.medi beh-ar.medi.high]
		[twodotsbelow-ar threedotsbelow-ar]' lookup vert_dots
		[beh-ar.medi beh-ar.medi.high
		 reh-ar.fina lam-ar.fina noon-ar.fina yeh-ar.fina yeh-ar.fina.salt]
	;

	sub	[beh-ar.init beh-ar.init.high beh-ar.medi beh-ar.medi.high
		 tah-ar.init tah-ar.init.hah1 tah-ar.init.hah2 tah-ar.medi tah-ar.medi.hah1 tah-ar.medi.hah2
		 lam-ar.init lam-ar.init.short lam-ar.init.hah1 lam-ar.init.hah2 lam-ar.medi lam-ar.medi.hah1 lam-ar.medi.hah2]
		[beh-ar.medi beh-ar.medi.high]
		@vert_dots' lookup vert_dots
	;

} rclt_vert_dots;
";
name = dots;
}
);
features = (
{
code = "lookup ccmp_1;
";
tag = ccmp;
},
{
code = "script arab;
  language URD;
	lookup locl_1;

  language KSH;
	lookup locl_1;

  language RHG;
	lookup locl_2;

  language SND;
	lookup locl_3;
";
tag = locl;
},
{
code = "lookup isol;";
tag = isol;
},
{
code = "lookup init;";
tag = init;
},
{
code = "lookup medi;";
tag = medi;
},
{
code = "lookup fina;";
tag = fina;
},
{
code = "lookup rlig_hah_medi_l1;
lookup rlig_hah_medi_l2;
lookup rlig_hah_cleanup;
lookup rlig_teeth_2;
lookup rlig_teeth_3;
lookup rlig_ligatures_1;
lookup rlig_short_lam;
";
tag = rlig;
},
{
code = "lookup rclt_yehbarree_baseline;
lookup rclt_hist_center_dot;
lookup rclt_hist_sheen_dots;
lookup rclt_hist_beh_dots;
lookup rclt_vert_dots;
lookup rclt_rounded;
lookup rclt_feh_yeh;
";
tag = rclt;
},
{
code = "lookup salt_1;
";
tag = salt;
},
{
code = "lookup hist_letters;
lookup hist_dots;
lookup hist_kissing;
";
tag = hist;
},
{
code = "lookup ss01_dots;
lookup ss01_cleanup;
";
labels = (
{
language = ENG;
value = "Dot-less Letter Forms";
},
{
language = ARA;
value = "حروف مهملة (بلا نقاط)";
}
);
tag = ss01;
},
{
code = "lookup hist_dots;
";
labels = (
{
language = ENG;
value = "Rectangular dots";
},
{
language = ARA;
value = "نقاط مستطيلة";
}
);
tag = ss02;
},
{
code = "lookup hist_letters;
lookup hist_kissing;
";
labels = (
{
language = ENG;
value = "Historical letter forms";
},
{
language = ARA;
value = "أشكال حروف تراثية";
}
);
tag = ss03;
},
{
code = "# Automatic Code
";
tag = curs;
},
{
code = "# Automatic Code

lookup kern_reh {
    lookupflag IgnoreMarks;
	pos [$[leftKerningGroup == 'reh']] <-50 0 -50 0
							   (MSHQ:0) -20 0 -20 0
							 (MSHQ:100) -70 0 -70 0>
		 alef-ar.isol;
} kern_reh;

@beh.init	= [$[name MATCHES '(beh|lam)-ar.init.*']];
@beh.medi	= [$[name MATCHES '(beh|lam)-ar.medi.*']];
@sad.init	= [$[name MATCHES '(sad|tah|kaf)-ar.init.*']];
@sad.medi	= [$[name MATCHES '(sad|tah|kaf)-ar.medi.*']];
@hah.init	= [$[name BEGINSWITH 'hah-ar.init']];
@hah.medi	= [$[name BEGINSWITH 'hah-ar.medi']];
@seen.medi	= [$[name BEGINSWITH 'seen-ar.medi']];
@yeh.fina	= [yeh-ar.fina yeh-ar.fina.salt];
@hah.fina	= [hah-ar.fina];

# Overhang Begin

# THIS FILE IS AUTO GENERATED, DO NOT EDIT
lookup overhang {
    lookupflag IgnoreMarks;
	pos @beh.init' 250 @hah.fina';
	pos @beh.init' 400 hah-ar.fina.hist';
	pos @beh.init' 290 hah-ar.fina.salt1';
	pos seen-ar.init' 70 @hah.fina';
	pos seen-ar.init' 220 hah-ar.fina.hist';
	pos seen-ar.init' 110 hah-ar.fina.salt1';
	pos feh-ar.init' 140 hah-ar.fina.hist';
	pos meem-ar.init' 170 hah-ar.fina.hist';
	pos meem-ar.init' 60 hah-ar.fina.salt1';
	pos heh-ar.init' 60 @hah.fina';
	pos heh-ar.init' 210 hah-ar.fina.hist';
	pos heh-ar.init' 100 hah-ar.fina.salt1';
	pos @beh.init' 150 @beh.medi' @hah.fina';
	pos @beh.init' 300 @beh.medi' hah-ar.fina.hist';
	pos @beh.init' 190 @beh.medi' hah-ar.fina.salt1';
	pos @beh.init' 130 @seen.medi' hah-ar.fina.hist';
	pos @beh.init' 160 ain-ar.medi.hist' hah-ar.fina.hist';
	pos @beh.init' 110 feh-ar.medi' hah-ar.fina.hist';
	pos @beh.init' 70 meem-ar.medi' hah-ar.fina.hist';
	pos @beh.init' 110 heh-ar.medi' hah-ar.fina.hist';
	pos seen-ar.init' 120 @beh.medi' hah-ar.fina.hist';
	pos meem-ar.init' 70 @beh.medi' hah-ar.fina.hist';
	pos heh-ar.init' 110 @beh.medi' hah-ar.fina.hist';
	pos @beh.init' 50 @beh.medi' @beh.medi' @hah.fina';
	pos @beh.init' 200 @beh.medi' @beh.medi' hah-ar.fina.hist';
	pos @beh.init' 90 @beh.medi' @beh.medi' hah-ar.fina.salt1';
	pos @beh.init' 60 @beh.medi' ain-ar.medi.hist' hah-ar.fina.hist';
	pos @beh.init' 60 ain-ar.medi.hist' @beh.medi' hah-ar.fina.hist';
	pos @beh.init' 100 @beh.medi' @beh.medi' @beh.medi' hah-ar.fina.hist';
	pos @beh.init' 260 @hah.medi';
	pos seen-ar.init' 80 @hah.medi';
	pos heh-ar.init' 70 @hah.medi';
	pos @beh.init' 160 @beh.medi' @hah.medi';
	pos @beh.init' 60 @beh.medi' @beh.medi' @hah.medi';
	pos @beh.init' 450 (MSHQ:100) 5665 yehbarree-ar.fina.baseline';
	pos seen-ar.init' 270 (MSHQ:100) 5485 yehbarree-ar.fina.baseline';
	pos ain-ar.init' 130 (MSHQ:100) 5345 yehbarree-ar.fina.baseline';
	pos feh-ar.init.short' 260 (MSHQ:100) 5475 yehbarree-ar.fina.baseline';
	pos meem-ar.init' 220 (MSHQ:100) 5435 yehbarree-ar.fina.baseline';
	pos heh-ar.init' 260 (MSHQ:100) 5475 yehbarree-ar.fina.baseline';
	pos @beh.init' 310 (MSHQ:100) 5525 @beh.medi' yehbarree-ar.fina';
	pos @beh.init' 250 (MSHQ:100) 5465 @hah.medi' yehbarree-ar.fina';
	pos @beh.init' 130 (MSHQ:100) 5345 @seen.medi' yehbarree-ar.fina';
	pos @beh.init' 80 (MSHQ:100) 5295 ain-ar.medi' yehbarree-ar.fina';
	pos @beh.init' 170 (MSHQ:100) 5385 ain-ar.medi.hist' yehbarree-ar.fina';
	pos @beh.init' 120 (MSHQ:100) 5335 feh-ar.medi' yehbarree-ar.fina';
	pos @beh.init' 80 (MSHQ:100) 5295 meem-ar.medi' yehbarree-ar.fina';
	pos @beh.init' 120 (MSHQ:100) 5335 heh-ar.medi' yehbarree-ar.fina';
	pos seen-ar.init' 130 (MSHQ:100) 5345 @beh.medi' yehbarree-ar.fina';
	pos seen-ar.init' 70 (MSHQ:100) 5285 @hah.medi' yehbarree-ar.fina';
	pos feh-ar.init' 50 (MSHQ:100) 5265 @beh.medi' yehbarree-ar.fina';
	pos meem-ar.init' 80 (MSHQ:100) 5295 @beh.medi' yehbarree-ar.fina';
	pos heh-ar.init' 120 (MSHQ:100) 5335 @beh.medi' yehbarree-ar.fina';
	pos heh-ar.init' 60 (MSHQ:100) 5275 @hah.medi' yehbarree-ar.fina';
	pos @beh.init' 210 (MSHQ:100) 5425 @beh.medi' @beh.medi' yehbarree-ar.fina';
	pos @beh.init' 150 (MSHQ:100) 5365 @beh.medi' @hah.medi' yehbarree-ar.fina';
	pos @beh.init' 70 (MSHQ:100) 5285 @beh.medi' ain-ar.medi.hist' yehbarree-ar.fina';
	pos @beh.init' 70 (MSHQ:100) 5285 ain-ar.medi.hist' @beh.medi' yehbarree-ar.fina';
	pos @beh.init' 110 (MSHQ:100) 5325 @beh.medi' @beh.medi' @beh.medi' yehbarree-ar.fina';
	pos @beh.init' 50 (MSHQ:100) 5265 @beh.medi' @beh.medi' @hah.medi' yehbarree-ar.fina';
} overhang;

# Overhang End
";
tag = kern;
},
{
code = "# Automatic Code

@dotsbelow = [$[name LIKE '*dot*below-ar'] $[name LIKE '*dot*below-ar.vert']];
@beh_width = [beh-ar.medi beh-ar.medi.high
			  lam-ar.medi lam-ar.medi.short lam-ar.medi.hah1 lam-ar.medi.hah2];
@overhanging_hah = [hah-ar.fina hah-ar.medi];
lookup mark_shift_dots {
	lookupflag UseMarkFilteringSet @dotsbelow;
	pos	[hah-ar.init hah-ar.medi]
		 @dotsbelow' <190 0 0 0>
		 @beh_width
		 @overhanging_hah
	;

	pos	[hah-ar.init hah-ar.medi]
		 @dotsbelow' <290 0 0 0>
		 @overhanging_hah
	;

	pos	 beh-ar.init
		 @dotsbelow' <140 -90 0 0>
		 @overhanging_hah
	;

	pos	[beh-ar.medi beh-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @overhanging_hah
	;

	pos	[beh-ar.init beh-ar.init.high beh-ar.medi beh-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @beh_width
		 @overhanging_hah
	;
	pos	[beh-ar.init beh-ar.init.high beh-ar.medi beh-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @beh_width
		 @dotsbelow
		 @overhanging_hah
	;
} mark_shift_dots;

@overhanging_hah.hist = [hah-ar.fina.hist hah-ar.medi.hist];
lookup mark_shift_dots_hist {
	lookupflag UseMarkFilteringSet @dotsbelow;
	pos	 hah-ar.init
		 @dotsbelow' <250 0 0 0>
		 @beh_width
		 @overhanging_hah.hist
	;
	pos	 hah-ar.medi
		 @dotsbelow' <390 0 0 0>
		 @beh_width
		 @overhanging_hah.hist
	;

	pos	 hah-ar.init
		 @dotsbelow' <250 0 0 0>
		 @overhanging_hah.hist
	;
	pos	 hah-ar.medi
		 @dotsbelow' <390 0 0 0>
		 @overhanging_hah.hist
	;

	pos	 beh-ar.init
		 @dotsbelow' <250 -90 0 0>
		 @overhanging_hah.hist
	;

	pos	[beh-ar.medi beh-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @overhanging_hah.hist
	;

	pos	[beh-ar.init beh-ar.init.high beh-ar.medi beh-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @beh_width
		 @overhanging_hah.hist
	;
	pos	[beh-ar.init beh-ar.init.high beh-ar.medi beh-ar.medi.high]
		 @dotsbelow' <0 -90 0 0>
		 @beh_width
		 @dotsbelow
		 @overhanging_hah.hist
	;
} mark_shift_dots_hist;";
tag = mark;
}
);
fontMaster = (
{
axesValues = (
10
);
customParameters = (
{
name = typoAscender;
value = 800;
},
{
name = typoDescender;
value = -450;
},
{
name = hheaAscender;
value = 800;
},
{
name = hheaDescender;
value = -450;
},
{
name = winAscent;
value = 900;
},
{
name = winDescent;
value = 500;
},
{
name = underlinePosition;
value = -165;
},
{
name = underlineThickness;
value = 50;
},
{
name = strikeoutSize;
value = 50;
}
);
guides = (
{
locked = 1;
pos = (0,920);
},
{
locked = 1;
pos = (0,805);
},
{
locked = 1;
pos = (0,690);
},
{
locked = 1;
pos = (0,575);
},
{
locked = 1;
pos = (0,460);
},
{
locked = 1;
pos = (0,345);
},
{
lockAngle = 1;
locked = 1;
pos = (0,230);
},
{
locked = 1;
name = "-1";
pos = (0,-115);
},
{
locked = 1;
name = "-2";
pos = (0,-230);
},
{
locked = 1;
},
{
locked = 1;
name = "-3";
pos = (0,-345);
},
{
locked = 1;
name = beh;
pos = (0,285);
},
{
locked = 1;
pos = (0,115);
},
{
locked = 1;
name = "700";
pos = (501,770);
},
{
pos = (190,260);
}
);
id = m01;
metricValues = (
{
over = -10;
pos = 800;
},
{
over = -10;
pos = 770;
},
{
over = -10;
pos = 345;
},
{
over = -10;
},
{
over = -10;
pos = -450;
}
);
name = Regular;
userData = {
GSCornerRadius = -10;
GSOffsetCapStyle = 2;
GSOffsetHorizontal = 4;
GSOffsetKeepCompatible = 1;
GSOffsetPosition = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
visible = 1;
}
);
instances = (
{
axesValues = (
10
);
name = Regular;
properties = (
{
key = variablePostscriptFontName;
value = Qashib;
}
);
}
);
kerningLTR = {
m01 = {
"@MMK_L_eight-ar" = {
"@MMK_R_one-ar" = -48;
"@MMK_R_zero-ar" = -60;
};
"@MMK_L_seven-ar" = {
"@MMK_R_eight-ar" = -48;
};
"@MMK_L_two-ar" = {
"@MMK_R_zero-ar" = -60;
};
"@MMK_L_zero-ar" = {
"@MMK_R_one-ar" = -36;
"@MMK_R_six-ar" = -108;
};
"four-ar" = {
"@MMK_R_one-ar" = -60;
"@MMK_R_six-ar" = -96;
"@MMK_R_zero-ar" = -60;
};
};
};
kerningRTL = {
m01 = {
"@MMK_R_beh" = {
"@MMK_L_hah" = -30;
"@MMK_L_yeh" = 40;
"alef-ar.isol" = -130;
"hah-ar.fina" = -30;
parenleft = -60;
};
"@MMK_R_hah" = {
"@MMK_L_ain" = -30;
"@MMK_L_hah" = -40;
"alef-ar.isol" = -20;
"lam_alef-ar.fina" = -40;
"reh-ar.fina" = -10;
};
"@MMK_R_hah.hist" = {
"alef-ar.isol" = -50;
};
"@MMK_R_kaf" = {
"lam_alef-ar.fina" = -20;
};
"@MMK_R_lam-alef" = {
"@MMK_L_lam" = 55;
"alef-ar.isol" = -100;
};
"@MMK_R_lam.fina" = {
"alef-ar.isol" = -160;
};
"@MMK_R_noon" = {
"alef-ar.isol" = -210;
period = 70;
};
"@MMK_R_noon.hist" = {
"alef-ar.isol" = -50;
};
"@MMK_R_qaf" = {
"alef-ar.isol" = -80;
};
"@MMK_R_reh" = {
"@MMK_L_dal" = -20;
"yeh-ar.isol" = 33;
"yeh-ar.isol.salt" = 9;
};
"@MMK_R_reh.hist" = {
"alef-ar.isol" = -160;
};
"@MMK_R_sad" = {
"@MMK_L_hah" = -10;
};
"@MMK_R_seen" = {
"@MMK_L_hah" = -5;
};
"@MMK_R_waw" = {
"alef-ar.isol" = -80;
};
"@MMK_R_yeh" = {
"alef-ar.isol" = -30;
};
"ain-ar.init" = {
"@MMK_L_ain" = 0;
};
"ain-ar.init.hist" = {
"@MMK_L_ain" = -20;
};
"ain-ar.medi" = {
"@MMK_L_hah" = -60;
};
"ain-ar.medi.hist" = {
"@MMK_L_hah" = -60;
};
"ain-ar.medi.hist.alt" = {
"@MMK_L_dal" = -53;
};
"ain-ar.medi.salt" = {
"@MMK_L_hah" = -45;
};
"beh-ar.medi" = {
"@MMK_L_hah" = -5;
"hah-ar.fina" = -5;
};
braceright = {
"alef-ar.isol" = -50;
};
bracketright = {
"alef-ar.isol" = -120;
};
"feh-ar.init" = {
"@MMK_L_hah" = -60;
"lam_alef-ar.fina" = -50;
"meem-ar.medi" = -20;
};
"feh-ar.medi" = {
"@MMK_L_hah" = -25;
"lam_alef-ar.fina" = -30;
"meem-ar.medi" = -12;
};
"heh-ar.init.round" = {
"@MMK_L_dal" = -10;
"noon-ar.fina.hist" = -20;
"noon-ar.fina.round" = -20;
};
"heh-ar.medi.round" = {
"@MMK_L_dal" = -10;
"noon-ar.fina.hist" = -20;
"noon-ar.fina.round" = -20;
};
"noon-ar.fina" = {
period = 88;
};
parenright = {
"alef-ar.isol" = -100;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = copyrights;
values = (
{
language = ENG;
value = "Copyright 2025 The Qashib Project Authors (github.com/aliftype/qashib)";
},
{
language = ARA;
value = "حقوق النسخ ٢٠٢٥ لمؤلفي مشروع قشيب (github.com/aliftype/qashib)";
}
);
},
{
key = descriptions;
values = (
{
language = ENG;
value = "Qashib (قشيب) is a manuscript Kufic typeface";
},
{
language = ARA;
value = "قشيب هو خط كوفي مصحفي";
}
);
},
{
key = designers;
values = (
{
language = ENG;
value = "Khaled Hosny";
},
{
language = ARA;
value = "خالد حسني";
}
);
},
{
key = designerURL;
value = "https://khaledhosny.com";
},
{
key = licenses;
values = (
{
language = ENG;
value = "This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>";
}
);
},
{
key = licenseURL;
value = "https://www.gnu.org/licenses/agpl-3.0.html";
},
{
key = manufacturers;
values = (
{
language = ENG;
value = "Alif Type";
},
{
language = ARA;
value = "حروف ألف";
}
);
},
{
key = manufacturerURL;
value = "https://aliftype.com";
},
{
key = sampleTexts;
values = (
{
language = ENG;
value = "بِسْمِ اللَّه الرَّحْمَنِ الرَّحِيمِ";
}
);
},
{
key = vendorID;
value = ALIF;
}
);
settings = {
fontType = variable;
keepAlternatesTogether = 1;
previewRemoveOverlap = 0;
};
unitsPerEm = 600;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
arAlef = "80";
arBar = "70";
arRoundThin = "20";
};
};
};
versionMajor = 0;
versionMinor = 0;
}
