(
"hamza-ar",
"alef-ar",
"alef-ar.fina",
"alef-ar.fina.short",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.medi.high",
"behDotless-ar.init",
"behDotless-ar.init.high",
"hah-ar",
"hah-ar.hist",
"hah-ar.fina",
"hah-ar.fina.hist",
"hah-ar.medi",
"hah-ar.init",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.hist",
"reh-ar.fina",
"reh-ar.fina.hist",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.medi.hah1",
"tah-ar.medi.hah2",
"tah-ar.init",
"tah-ar.init.hah1",
"tah-ar.init.hah2",
"ain-ar",
"ain-ar.001",
"ain-ar.hist",
"ain-ar.fina",
"ain-ar.fina.hist",
"ain-ar.medi",
"ain-ar.medi.salt",
"ain-ar.medi.hist",
"ain-ar.medi.hist.alt",
"ain-ar.init",
"ain-ar.init.hist",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar",
"qafDotless-ar.hist",
"qafDotless-ar.fina",
"qafDotless-ar.fina.hist",
"kaf-ar",
"kaf-ar.hist",
"kaf-ar.fina",
"kaf-ar.fina.hist",
"kaf-ar.medi",
"kaf-ar.medi.hist",
"kaf-ar.init",
"kaf-ar.init.hist",
"lam-ar",
"lam-ar.short",
"lam-ar.fina",
"lam-ar.fina.short",
"lam-ar.medi",
"lam-ar.medi.hah1",
"lam-ar.medi.hah2",
"lam-ar.medi.short",
"lam-ar.init",
"lam-ar.init.hah1",
"lam-ar.init.hah2",
"lam-ar.init.short",
"meem-ar",
"meem-ar.fina",
"meem-ar.fina.round",
"meem-ar.medi",
"meem-ar.medi.round",
"meem-ar.init",
"meem-ar.init.round",
"noonghunna-ar",
"noonghunna-ar.hist",
"noonghunna-ar.fina.round",
"noonghunna-ar.fina",
"noonghunna-ar.fina.hist",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.medi.round",
"heh-ar.init",
"heh-ar.init.round",
"waw-ar",
"waw-ar.fina",
"waw-ar.fina.round",
"alefMaksura-ar",
"alefMaksura-ar.salt",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.salt",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarree-ar.fina.baseline",
"kashida-ar",
"lam_alef-ar",
"lam_alef-ar.fina",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"fourFarsi-ar",
"fourFarsi-ar.locl",
"five-ar",
"fiveFarsi-ar",
"six-ar",
"sixFarsi-ar",
"seven-ar",
"sevenFarsi-ar",
"sevenFarsi-ar.locl",
"eight-ar",
"nine-ar",
space,
thinspace,
hairspace,
zerowidthspace,
.notdef,
"comma-ar",
"semicolon-ar",
"question-ar",
period,
colon,
exclam,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
"percent-ar",
dottedCircle,
bar,
"dotabove-ar",
"dotbelow-ar",
"dotcenter-ar",
"threedotsabove-ar",
"threedotsabove-ar.vert",
"dotabove-ar.hist",
"dotabove-ar.hist.noon",
"dotabove-ar.hist.beh",
"dotabove-ar.hist.reh",
"dotbelow-ar.hist",
"twodotsabove-ar.hist",
"twodotsabove-ar.hist.beh",
"twodotsbelow-ar.hist",
"twodotsbelow-ar.hist.beh",
"threedotsabove-ar.hist",
"threedotsabove-ar.hist.beh",
"threedotsbelow-ar.hist",
"threedotsbelow-ar.hist.beh",
"threedotshorizontalabove-ar.hist",
"threedotshorizontalabove-ar.hist.mid",
"threedotshorizontalabove-ar.hist.fin",
"hamzaabove-ar",
"hamzabelow-ar",
"madda-ar",
"fatha-ar",
"fathatan-ar",
"kasra-ar",
"kasratan-ar",
"damma-ar",
"dammatan-ar",
"shadda-ar",
"sukun-ar",
"alefabove-ar",
"alefbelow-ar",
"gafsarkashabove-ar",
"threedotsbelow-ar",
"threedotsbelow-ar.vert",
"twodotsabove-ar",
"twodotsabove-ar.vert",
"twodotsbelow-ar",
"twodotsbelow-ar.vert",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"alefWasla-ar",
"beh-ar",
"teh-ar",
"theh-ar",
"peh-ar",
"jeem-ar",
"khah-ar",
"tcheh-ar",
"thal-ar",
"zain-ar",
"jeh-ar",
"sheen-ar",
"dad-ar",
"zah-ar",
"ghain-ar",
"feh-ar",
"veh-ar",
"fehAfrican-ar",
"qaf-ar",
"qafAfrican-ar",
"keheh-ar",
"gaf-ar",
"noon-ar",
"noonAfrican-ar",
"tehMarbuta-ar",
"wawHamzaabove-ar",
"yeh-ar",
"yehFarsi-ar",
"yehHamzaabove-ar",
"behDotless-ar.medi.l1",
"hah-ar.medi.l1",
"seen-ar.medi.l1",
"sad-ar.medi.l1",
"ain-ar.medi.l1",
"fehDotless-ar.medi.l1",
"kaf-ar.medi.l1",
"meem-ar.medi.l1",
"heh-ar.medi.l1",
"kashida-ar.l1",
"behDotless-ar.medi.l2",
"hah-ar.medi.l2",
"seen-ar.medi.l2",
"sad-ar.medi.l2",
"ain-ar.medi.l2",
"fehDotless-ar.medi.l2",
"kaf-ar.medi.l2",
"meem-ar.medi.l2",
"heh-ar.medi.l2",
"kashida-ar.l2",
_body.sad,
_c.beh,
_c.dal,
_dot,
_p.heh
)